#header {
  position: fixed;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.left-section {
  display: flex;
  align-items: center;
  width: 164px;
}

.hamburger-icon {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.YT-logo {
  height: 20px;
  cursor: pointer;
}

.middle-section {
  align-items: center;
  display: flex;
  flex: 1;
  max-width: 470px;
  margin-left: 60px;
}

.search-bar {
  height: 40px;
  flex: 1;
  font-size: 16px;
  padding: 1px 1px 1px 12px;
  border: 1px solid #cccccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.search-button {
  width: 64px;
  height: 40px;
  background-color: #f7f7f7;
  padding: 2px 6px 3px 6px;
  border: 1px solid #cccccc;
  border-left: none;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-right: 8px;
  cursor: pointer;
}

.search-button img {
  height: 24px;
}

.vs-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #f7f7f7;
  cursor: pointer;
}

.vs-icon {
  height: 24px;
  background-color: #f7f7f7;
  border: none;
}

.right-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 182px;
  margin: 0 24px 0 29px;
}

.upload-div {
  width: 24px;
  height: 24px;
}

.app-div {
  width: 24px;
  height: 24px;
}

.notif-div {
  width: 24px;
  height: 24px;
  position: relative;
}

.notif-bubble {
  position: absolute;
  top: -2px;
  right: -3px;
  font-size: 12px;
  color: white;
  background-color: rgb(194, 2, 2);
  padding: 1px 4px;
  border-radius: 50%;
}

.current-user {
  height: 32px;
}